@charset "utf-8";
/* CSS Document */

@media(max-width:1100px){
	header h1{margin: auto}
}
@media(max-width:1100px){
	.foot{height: 320px;!important;}
	.foot_menu ul li  {font-size: 1.1em;!important;}
	.foot_menu ul{width: 500px}

}

@media(max-width:970px){
	.item2{font-size: 1.2em;!important;}
}

@media(max-width:1100px){
	h1{margin: auto}
	.Header_MenuBar ul li{font-size: 1em;!important;}
	.Header_MenuBar ul li>ul{justify-content: flex-start;flex-direction:column;position: absolute;z-index: 99}
	.Header_MenuBar ul li ul li{width: 72px;}

	/*.Header_MenuBar ul li ul li{width: 110px;}*/

}
@media(max-width:850px){
	h1{margin: auto}
	/*.Header_MenuBar ul li{font-size: 1em;!important;}*/
	/*.Header_MenuBar ul li>ul{justify-content: flex-start;flex-direction:column;position: absolute;z-index: 99}*/
	/*.Header_MenuBar ul li ul li{width: 74px;}*/

	/*.Header_MenuBar ul li ul li{width: 110px;}*/

}
@media(max-width:840px){
	.item2{font-size: 0.9em;!important;}
	/*.Header_MenuBar ul li>ul{justify-content: flex-start;flex-direction:column;position: absolute;z-index: 99}*/
	/*.Header_MenuBar ul li ul li{width: 62px;}*/

}

@media(max-width:810px){
	h3{font-size: 0.8em;!important;}
}
@media(max-width:800px){
	.item2{width:25%;border-radius:40%;padding: 20px!important;}
}

@media(max-width:730px){
	/*h1{margin-right: 252px}*/
	.slider .p1{font-size: 1.4em;!important;}
	.slider .p2{font-size: 1.4em;!important;}

}
@media(max-width:690px){
	/*h1{margin-right: 252px}*/
	/*.search1 input{font-size: 2px;!important;}*/
}


@media(max-width:610px){
	/*h1{margin-right: 252px}*/
	.Header_MenuBar ul li{font-size: 0.8em;!important;}
}

@media(max-width:670px){
	/*.foot_items{width: 59%}*/
	.item2{font-size: 1em;!important;}
}

/*-------------------------------------TAFSIR-----------------------------------------------*/

@media(max-width:1290px){
	.tafsir{height: 910px;!important;}
}
@media(max-width:1170px){
	.tafsir{height: 1000px;!important;}
}
@media(max-width:1135px){
	.tafsir{height: 950px;!important;}
}
@media(max-width:1050px){
	.tafsir{height: 1060px;!important;}
}
@media(max-width:950px){
	.tafsir{height: 1150px;!important;}
}
@media(max-width:830px){
	.tafsir{height: 1250px;!important;}
}
@media(max-width:710px){
	.tafsir{height: 1400px;!important;}
}
@media(max-width:600px){
	.tafsir{height: 1750px;!important;}
}
/*-------------------------------------aboutus-----------------------------------------------*/

@media(max-width:1000px){
	.aboutus{height: 850px;!important;}
}
@media(max-width:950px){
	.aboutus{height: 1050px;!important;}
}
@media(max-width:790px){
	.aboutus{height: 1300px;!important;}
}
@media(max-width:680px){
	.aboutus{height: 1500px;!important;}
}
@media(max-width:640px){
	.aboutus{height: 1700px;!important;}
}
@media(max-width:590px){
	.aboutus{height: 2000px;!important;}
}
@media(max-width:550px){
	.aboutus{height: 2400px;!important;}
}
@media(max-width:530px){
	.aboutus{height: 2500px;!important;}
}

		
		
		
		
		
		
		
		
