*{
    margin:0;
    padding:0
}

body{
    direction: rtl;
    font-family: IRANSansSmall;
    /*background-color: lime;*/
}

@font-face{
    font-family:IRANSans;
    src:url(../fonts/eot/IRANSansWeb.eot);
    src:url(../fonts/eot/IRANSansWeb.eot),
    url(../fonts/woff2/IRANSansWeb.woff2),
    url(../fonts/woff/IRANSansWeb.woff),
    url(../fonts/ttf/IRANSansWeb.ttf)}


.viewports{
    background-color: maroon;
    opacity: 0.8;
    width: 100px;
    height: 25px;
    line-height: 25px;
    position: fixed;
    left: 0;
    text-align: center;
    color: white;
    direction: ltr;
}

/*a{*/
/*    text-decoration: none;*/
/*}*/
li{
    list-style-type: none;
}
a{
    text-decoration-line: none;
    color: black;
}

/*---------Header(navigation)-------------*/
header{
    background-color: #ffff99;
    /*height: 236px;*/
}
.title1{
    margin: auto;
    /*background-color: lightsteelblue;*/
    width: 370px;
}
header h1{
    text-align: center;
    font-family: IRANSansSmall;
    font-size: 1.42em;
    padding-top: 15px;
    /*background-color: burlywood;*/
    margin-top: -2px;
    /*margin: auto;*/
}
.Header_logo{
    /*background-color: darkmagenta;*/
    width: 27%;
    /*margin: auto;*/
    padding-bottom: 30px;
    /*margin-top: 0;*/
}

.Header_MenuBar{
    background-color: #99ff66;
    display: flex;
    height: 60px;
    line-height: 60px;

}
.Header_MenuBar ul{
    display: flex;
    justify-content: space-around;
    width: 89%;
}
.Header_MenuBar ul li{
    font-size: 1.42em;
    text-align: center;
    font-weight: bold;
    width: 120px;
    /*background-color: darkmagenta;*/
}
.Header_MenuBar li ul{
    display: none;
    }
.Header_MenuBar ul li:hover{
    background-color: limegreen;
}
.Header_MenuBar ul li:hover>ul{
    display: flex;
    width: 600px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /*position: absolute;*/
    /*right: 300px;*/
}

.Header_MenuBar ul li ul li{
    background-color: whitesmoke;
    width: 120px;
    font-size: 0.8em;
    /*margin-right: -85%;*/
}
/*.Header_MenuBar ul li ul .la1:hover{}*/


/*.Header_MenuBar ul li ul li:hover li{background-color: blue; margin-right: 80px}*/

.search1 input{
    height: 50%;
    width: 70%;
    border-radius:13px ;
    text-align: center;
    margin-right: 15px;
}

/*!*-------------------------Start ------------------------------------------------*!*/

.slider{
    background-image: url("../images_QM/Content2_Quran-Madraseh-Second-Scheme_3.png");
    /*background-color: red;*/
    height: 805px;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /*margin-top: -34px;*/
    /*margin: auto;*/
}
.slider h1{
    /*background-color: red;*/
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin-top: 40px;
}
.slider .p1{
    width: fit-content;
    font-size:2em;
    font-weight: bold;
    color: white;
    text-align: center;
    /*background-color: darkmagenta;*/
    /*margin-top: 12%;*/
    margin-right: 30%;
    position: absolute;
    top: 490px;
}
.slider .p2{
    width: fit-content;
    font-size:2em;
    font-weight: bold;
    color: white;
    text-align: center;
    /*background-color: darkmagenta;*/
    /*margin-top: 10px;*/
    margin-right: 55%;
    position: absolute;
    top: 540px;
}

/*!*-------------------------Start Footer------------------------------------------------*!*/

.foot{
    background-color: #99ff66;
    height: 280px;
}
.foot_items{
    /*background-color: white;*/
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 12px;
}
h3{
    /*background-color: lightslategray;*/
    width: fit-content;
    margin: auto;
    padding: 15px;
    font-family: "IRANSansSmall";
}
.item2{
    width: 40%;
    background-color: #006666;
    border-radius: 45%;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    color: white;
    padding: 25px;
    font-family: IRANSansSmall;
}
h2 a{
    color: white;
}
.foot_menu{
    /*background-color: coral;*/
    display: flex;
    justify-content: flex-start;
    /*width: 60%;*/
    /*margin-right: 27%;*/
    margin: auto;
    padding-top: 8px;
    width: 700px;
}
.foot_menu ul{
    display: flex;
    padding-top: 8px;
    margin: auto;
    /*width: 70%;*/
    /*background-color: violet;*/
    /*width: 600px;*/
    justify-content: right;
}
.foot_menu ul li{
    font-size: 1.42em;
    font-weight: bold;
    font-family: IRANSansSmall;
    /*background-color: green;*/
    /*width: 40%;*/
    width: 200px;
    color: maroon;
    text-align: center;
}
.li1{
    /*background-color: lightsteelblue;*/
    margin-right: 9%;
}
.li2{
    /*background-color: lightslategray;*/
    margin-right:9% ;
}
.li3{
    /*background-color: gold;*/
    margin-right: 9%;
}
.item3{
    /*background-color: #ffff99;*/
    margin-left:230px;
    padding-top:9px ;
    width:5%;
    position: relative;
    left: 8px;
}
.foot_menu ul li a{
    color: maroon;
}

/*----------------------------------CSS TAFSIR ---------------------------------------------------------*/
.tafsir{
    background-color: #336633;
    height: 760px;
}
.tafsir_chekide{
    /*background-color: #336633;*/
    height: 760px;
}

.h1_tafsir{
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    /*background-color: violet;*/
    padding-top: 40px;
    padding-bottom: 20px;
}
.h1_tafsir1{
    padding: 0;
    margin: 0;
    /*color: white;*/
    text-align: center;
    /*background-color: violet;*/
    padding-top: 40px;
    /*padding-bottom: 20px;*/
    /*padding: 0;*/
    font-size: 1.5em;
}

.h1_tafsir2{
    text-align: center;
    /*background-color: cyan;*/
    padding: 0;
    margin-top: 0;
}
.p1_tafsir{
    text-align: center;
    color: white;
    font-size:1.5em;
    padding-bottom: 30px;
}
.container_tafsir{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*background-color: coral;*/
    width: 95%;
    margin: auto;
    /*padding-right: 22px;*/
}
.container_tafsir .soureh:hover{background-color: black;color: whitesmoke}
.soureh{
    width: 80px;
    border-radius: 80%;
    background-color: #ffff99;
    color: black;
    text-align: center;
    padding:10px 10px;
    font-size:1.3em;
    font-weight: bold;
    /*margin: 5px 5px;*/
    margin: 5px 5px 5px 5px;

    /*flex-wrap: wrap;*/
    }
.p1_chekide{
    /*color: whitesmoke;*/
    font-size: 1.1em;
    font-weight: bold;
    text-align: justify;
    margin-right:30px ;
    /*margin-top: 200px;*/
    margin-left: 30px;
    margin-bottom: 15px;
    /*background-color: maroon;*/
}
.tafsir_chekide1{
    /*height: 760px;*/
    border:15px solid #336633 ;
    background-image:url("../images_QM/background2.png") ;
}
/*-----------------------------------------CSS: Aboutus_content--------------------------------------------------------*/
.aboutus{
    background-color: #ffff99;
    height: 760px;
}
.h1_aboutus{
    color: crimson;
    margin: 0 0;
    padding-top: 20px;
    padding-right: 150px;
    /*box-shadow: 30px 0 30px gold;*/
    /*text-decoration-line:underline ;*/
    background-color: #ffff99;
}
.p1_aboutus{
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    text-align: justify;
    margin-right:150px ;
    padding-top: 20px;
    margin-left: 150px;
    margin-bottom: 15px;
    /*background-color: maroon;*/
}

